---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Jhoni Pereira's Website">
	<main class="container mx-auto">
		

		<div class="grid md:grid-cols-2 justify-center align-items-center">
			
			<div class="lg:mr-28">
				<h1 class="font-bold -mb-5 text-5xl">
					<span class="block">Hi there!</span>
				</h1>
				<p class="mb-5 text-3xl">I'm a software developer based in Brazil. With 12 years of experience as a Fullstack developer at xxxxx  and 8 years as a Frontend developer at xxxx remotely.</p>
				
				<p class="mb-5">I have a passion for ...</p>
				
			</div>
			<div class="">
				<img src="/profile.png" alt="Jhoni Pereira" class="rounded-full max-w-sm shadow-xl w-1/2 lg:w-full">
			</div>

			
		</div>
	</main>
</Layout>

<style>
	
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>


<!-- <ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->